body {

    background-color: rgb(104, 7, 194);
    color:rgb(255, 255, 255);
    font-family: "PT Serif", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 0;
}

button {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    font-family: "PT Serif", serif;
 }

 .passo {
    display: none;
 }

 .passo.ativo {
    display: block;
 }